* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    font-family: "Lato", sans-serif;
    color: #eae6d8;
    background-color: #14504c;
}
.container-fluid {
    width: 1000px;
    max-width: 100%;
}
.title h1 {
    font-family: "Exo", sans-serif;
    font-size: 46px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    margin: 30px 0;
}
#default-player {
    display: none;
}
#player-one {
    background-color: #276560;
}
#player-two {
    background-color: #437d79;
}
#reset-btn,
#add-player {
    font-size: 36px;
    display: block;
    text-align: center;
    background-color: transparent;
    border-color: transparent;
    margin: 0 auto;
    padding: 30px 0;
}
.increase-btn,
.decrease-btn {
    background-color: transparent;
    border-color: transparent;
    border-radius: 0;
    color: #eae6d8;
    font-size: 46px;
    margin: 0 auto;
    margin-top: 6px;
}
.delete-btn {
    background-color: transparent;
    border-color: transparent;
    color: #eae6d8;
    font-size: 20px;
    padding: 7px 19px;
    margin: 20px 0;
}
.increase-btn:hover,
.increase-btn:active,
.decrease-btn:hover,
.decrease-btn:active {
    background-color: transparent !important;
    border-color: transparent !important;
    color: #eae0c0 !important;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
    outline: 0 !important;
}
.increase-btn:focus,
.decrease-btn:focus {
    background-color: transparent !important;
    border-color: transparent !important;
    color: #eae6d8 !important;
    outline: 0 !important;
}
.delete-btn:hover,
.delete-btn:focus,
#reset-btn:hover,
#add-player:hover {
    background-color: transparent !important;
    border-color: transparent !important;
    color: #eae0c0 !important;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    outline: 0 !important;
}
.delete-btn:active,
#add-player:active,
#add-player:visited,
#add-player:focus,
#reset-btn:active,
#reset-btn:visited,
#reset-btn:focus {
    color: #eae6d8 !important;
    outline: 0 !important;
}
h1#player-name,
h2.score-display {
    font-size: 32px;
    font-weight: 300;
    text-align: center;
}
#player-name:active,
#player-name:focus,
.score-display:active,
.score-display:focus {
    outline: 0 !important;
}
i.fa.fa-pencil {
    padding-right: 10px;
    font-size: 28px;
    cursor: pointer;
}
.reset-player i.fa.fa-refresh {
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
}
.reset-player:hover i.fa.fa-refresh,
.reset-player:focus i.fa.fa-refresh {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
.add-player i.fa.fa-user-plus {
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
}
.add-player:hover i.fa.fa-user-plus,
.add-player:focus i.fa.fa-user-plus {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

#dialog-message {
    display: none;
}
.ui-dialog-titlebar-close {
    display: none;
}

@media screen and (max-width: 665px) {
    h1#player-name,
    h2.score-display {
        font-size: 26px;
        margin-top: 25px;
        white-space: nowrap;
    }
    .increase-btn,
    .decrease-btn {
        font-size: 40px;
    }
    .delete-btn {
        font-size: 18px;
    }
    #reset-btn,
    #add-player {
        font-size: 32px;
    }
}
@media screen and (max-width: 575px) {
    h1#player-name,
    h2.score-display {
        font-size: 22px;
        margin-top: 28px;
    }
    h1#player-name {
        text-align: left;
    }
    i.fa.fa-pencil {
        padding-right: 5px;
        font-size: 22px;
    }
    .delete-btn {
        padding: 7px 0 5px 5px;
    }
    #reset-btn,
    #add-player {
        font-size: 28px;
    }
    .reset-player i.fa.fa-refresh,
    .add-player i.fa.fa-user-plus {
        font-size: 24px;
    }
}
@media screen and (max-width: 490px) {
    .increase-btn,
    .decrease-btn {
        font-size: 34px;
        margin-top: 10px;
    }
    i.fa.fa-pencil {
        font-size: 18px;
    }
    .player-name {
        padding-right: 0;
    }
    h1#player-name,
    h2.score-display {
        font-size: 18px;
        margin-top: 26px;
    }
    .delete-btn {
        font-size: 16px;
    }
    .reset-player,
    .add-player {
        width: 100%;
    }
    #reset-btn,
    #add-player {
        font-size: 28px;
        padding: 8px;
    }
}
